<button (click)="logout()">Logout</button>
<div class="container">

        <div class="row has-title-bar has-no-tabs">
                <div class="span10 offset2">
                        <div class="row">
                                <div class="span10">

<table border="2" style="margin-left:300px" width="300px">
    <tr>
        <th>
            NAME
        </th>
    </tr>
    <tr *ngFor="let user of users">
        <td>
            {{user.name}}
        </td>
    </tr>
</table>


<div align="center">
        <ul class="pagination">
                <li [ngClass]="{'disabled':firstDisabled()}">
                        <a (click)="first()">First |
                                < </a>
                </li>
                <li [ngClass]="{'disabled':prevDisabled()}">
                        <a (click)="previous()">Previous
                                << </a>
                </li>
                <li *ngFor="let i of pageNums2Disp" [ngClass]="{'disabled': currDisabled(i)}">
                        <a (click)="getPage(i)">{{i}}</a>
                </li>

                <li [ngClass]="{'disabled': nextDisabled()}">
                        <a (click)="next()">Next >> </a>
                </li>
                <li [ngClass]="{'disabled':lastDisabled()}">
                        <a (click)="last()">Last >| </a>
                </li>
        </ul>
        <p align="center">Showing page {{currentPageNum}} of {{maxPageNum}}</p>
</div>
</div>
</div>
</div>
</div>
</div>
